* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFF;
    margin: 0
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

h6 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EEE;
}

p {
    margin: 0 0 10px;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

a {
    color: #337AB7;
    text-decoration: none;
    word-wrap: break-word;
}

img {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    border: 0;
    max-width: 95%;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

/*
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #C7254E;
    background-color: #F9F2F4;
    white-space: pre-wrap;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
}

pre code {
    padding: 0;
    white-wrap: pre-wrap;
    white-space: pre;
    background-color: transparent;
    border-radius: 0;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    overflow: auto;
}
*/

blockquote {
    padding: 0 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #EEE;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ol ol {
    margin-bottom: 0;
}

ol ul {
    margin-bottom: 0;
}

ul ol {
    margin-bottom: 0;
}

ul ul {
    margin-bottom: 0;
}

li {
    word-wrap: break-word;
}

table {
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 8px;
}

th {
    padding: 8px;
}

th[align=left] {
    text-align: left;
}

th[align=center] {
    text-align: center;
}

th[align=right] {
    text-align: right;
}

td[align=left] {
    text-align: left;
}

td[align=center] {
    text-align: center;
}

td[align=right] {
    text-align: right;
}

abbr {
    border-bottom: 1px dotted #777;
}

mark {
    padding: 0.2em;
    background-color: #FCF8E3;
}

sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -0.25em;
}

sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -0.5em;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #FFF;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace";
}

span.math {
    color: inherit;
}

lbl {
    display: inline-block;
    padding: 0 10px;
    background: #1E87F0;
    line-height: 1.5;
    font-size: 12px;
    color: #FFF;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
}

button {
    margin: 0;
    overflow: visible;
    display: inline-block;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #222;
    border: 1px solid #E5E5E5;
    background-color: transparent;
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #4D4D4C;
    padding: 0.5em;
}
